.admin-content {
    max-width: 1080px;
}

.admin-box {
    align-items: center;
}

.admin-separator {
    height: 32px;
}

a {
    color: rgb(66, 66, 66);
}

.overflow-table {
    overflow: auto;
}

.calendar-input input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    display: block;
    font-size: 16px;
    font-family: "Helvetica", "Arial", sans-serif;
    margin: 0;
    padding: 4px 0;
    width: 100%;
    background: 0 0;
    text-align: left;
    color: inherit

}

.calendar-input input[type="number"] {
    -moz-appearance: textfield
}

.calendar-input input[type="number"]::-webkit-inner-spin-button, .calendar-input input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.mdl-textfield.is-focused .calendar-input input {
    outline: none
}

.mdl-textfield.is-invalid .calendar-input input {
    border-color: #d50000;
    box-shadow: none
}

fieldset[disabled] .mdl-textfield .calendar-input input, .mdl-textfield.is-disabled .calendar-input input {
    background-color: transparent;
    border-bottom: 1px dotted rgba(0, 0, 0, .12);
    color: rgba(0, 0, 0, .26)
}

.mdl-textfield textarea.calendar-input input {
    display: block
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    box-shadow: none;
    outline: 0 none;
}

.stretch-calendar-input input {
    width: 100%;
}

.stretch {
    width: 100% !important;
}

.modifiers-table {
    table-layout: auto;
}
.modifiers-table .auto-size {
    width: auto;
}

.seat-spinner input {
    padding-right: 0 !important;
    text-align: left;
    width: 100%;
}

.seat-spinner {
    padding-right: 23px !important;
}

.airport-menu .ui-selectonemenu-filter-container {
    background-color: red;
    width: 100%;
}

.align-center {
    text-align: center;
}