.main-color {
  color: #f4f4f4;
}

.main-bg-color {
  background-color: #f4f4f4;
}

.home {
  font-size: 30px;
}

html, body {
    font-family: Roboto, sans-serif;
}

.linkFont {
    font-size: 18px;
}

.linkFont:hover, .home:hover, .lang:hover {
    background-color: #83c985 !important;
}

.moreInfoBtn {
    position: absolute;
    bottom: 30px;
    right: 0;
    background-color: rgba(76,175,80,.7);
    padding: 10px;
    z-index: 999999999999;
    font-size: 24px;
    color: #fff;
    border-radius: 3px 0 0 3px;
}

.searchBtn {
    background-color: rgb(76,175,80);
    cursor: pointer;
    color: rgb(66,66,66) !important;
}

.searchBtn:hover {
    background-color: #83c985 !important;;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    color: #000 !important;
}

.ui-inputfield:focus {
    -webkit-box-shadow: 0 0 5px #4CAF50;
    -moz-box-shadow: 0 0 5px #4CAF50;
    box-shadow: 0 0 5px #4CAF50;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    rgba(0,0,0,.26);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    rgba(0,0,0,.26);
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    rgba(0,0,0,.26);
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    rgba(0,0,0,.26);
}

.searchCard > .mdl-card__title {
    color: #fff;
    height: 350px;
    /*background: url('https://i.ytimg.com/vi/ZXsQAXx_ao0/maxresdefault.jpg') 50% 40% no-repeat #4CAF50;*/
    background: url('https://i.gyazo.com/43cf0cbca018c6d816d46aec68cc1be1.gif') 50% 40% no-repeat #4CAF50;
    background-size: cover;
}

.loginCard > .mdl-card__title {
    color: #fff;
    height: 75px;
    background: url("#{resource['images/RloginSm.png']}") 3% 50% no-repeat #fff;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.registerCard > .mdl-card__title {
    color: #fff;
    height: 75px;
    background: url("#{resource['images/RloginSm.png']}") 3% 50% no-repeat #fff;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

section {
    background-color: #F5F5F5;
}

main {
    background: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/grid.png") repeat fixed;
    padding-top: 5px;
}

.border {
    border: 1px solid #4CAF50;
}

.paddingTop20 {
    padding-top: 20px;
}

.paddingTop40 {
    padding-top: 40px;
}

.paddingBot20 {
    padding-bottom: 20px;
}

.paddingBot40 {
    padding-bottom: 40px;
}

.hasDatepicker {
    width: 96%;
}

.ui-inputnumber > .ui-inputfield {
    width: 96%;
}

.topDeals {
    min-width: 185px;
}

.topDeals > a > .mdl-card__title {
    color: #fff;
    height: 200px;
    background-size: cover;
}

.topDeals:hover {
    transform: scale(1.02);
    z-index: 9999999999999;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
}

.deal1 {
    background: url('http://66.media.tumblr.com/7c3312365abe3c35bc4bca2cc163c6f8/tumblr_mf74n9UudL1rmt3gxo1_1280.jpg') 50% 40% no-repeat;
}

.deal2 {
    background: url('http://cdn.thedroidguy.com/wp-content/uploads/2015/05/price-cut.jpg') 50% 40% no-repeat;
}

.deal3 {
    background: url('http://www.hotel-r.net/im/hotel/hr/beautiful-beach-20.jpg') 50% 60% no-repeat;
}

hr {
    margin: 0;
}

a {
    text-decoration: none;
}

.ribbon-wrapper-green {
    width: 137px;
    height: 143px;
    overflow: hidden;
    position: absolute;
    top: -3.5px;
    left: -4px;
}

.ribbon-green {
    font: bold 15px Roboto;
    text-align: center;
    text-shadow: rgba(255,255,255,0.5) 0 1px 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform:    rotate(-45deg);
    -ms-transform:     rotate(-45deg);
    -o-transform:      rotate(-45deg);
    position: relative;
    padding: 7px 0;
    left: -42px;
    top: 41px;
    width: 200px;
    background-color: #BFDC7A;
    background-image: -webkit-gradient(linear, right top, right bottom, from(#BFDC7A), to(#8EBF45));
    background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45);
    color: #6a6340;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);
    -moz-box-shadow:    0 0 3px rgba(0,0,0,0.3);
    box-shadow:         0 0 3px rgba(0,0,0,0.3);
    z-index: 999999999999999;
}

.ribbon-green:before, .ribbon-green:after {
    content: "";
    border-top:   3px solid #6e8900;
    border-left:  3px solid transparent;
    border-right: 3px solid transparent;
    position:absolute;
    bottom: -3px;
}

.comingSoon-wrapper-green {
    width: 145px;
    height: 145px;
    overflow: hidden;
    position: absolute;
    left: -3px;
}

.comingSoon {
    position: relative;
    padding: 7px 0;
    top: 43px;
    width: 200px;
}

.comingSoon:before, .comingSoon:after {
    content: "";
    border-top:   3px solid #6e8900;
    border-left:  3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    bottom: -3px;
}

.overflowVis {
    overflow: visible;
}

.topDeals > a > .dutch, .topDeals > a > .english {
    height: 250px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.mdl-menu__item > span > img {
    padding-bottom: 3px !important;
}

.mdl-card {
    border: 1px solid #4CAF50;
    min-height: 0;
}

.mdl-card__title {
    border-bottom: 1px solid white;
}

.mdl-card__supporting-text {
    width: 96%;
}

.mdl-layout__header {
    border-bottom: 1px solid rgba(0,0,0,.2);
}

.mdl-card__title-text {
    background-color: #ffffff;
    padding: 7px 15px 7px 15px;
    margin-left: -20px;
    border: solid rgba(0,0,0,.35);
    color: #4CAF50;
    font-weight: 400;
    border-width: 1px 1px 1px 0;
    border-radius: 0 10px 30px 0;
}

@media (max-width: 839px) {
    .searchForm {
        margin-left: 16px;
    }
}

.noBG {
    background-color: rgba(0,0,0,0);
}

.registerLink {
    float: right !important;
    font-size: 12px;
    text-decoration: underline !important;
}

.registerLink:hover {
    background-color: #fff !important;
    box-shadow: none;
    color: #000;
}

.indexBanner {
    height: 350px;
    width: 100%;
    background: url('http://cdn.paper4pc.com/images/amazing-view-wallpaper-5.jpg') no-repeat fixed 50% 15%;
    background-size: cover;"
}

.ui-chkbox-box.ui-state-active,
.ui-chkbox-box.ui-state-focus.ui-state-active,
.ui-radiobutton-box.ui-state-active,
.ui-radiobutton-box.ui-state-focus.ui-state-active {
    border: 1px solid #4CAF50 !important;
    background: #83c985 !important;
}

.ui-widget {
    font-family: Roboto, sans-serif !important;
}











.ribbon-green:before {
    left: 0;
}
.ribbon-green:after {
    right: 0;
}​

.comingSoon:before {
    right: 0;
}
.comingSoon:after {
    right: 0;
}​

